.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.pageButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.pageButton:hover:not(.disabled) {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.pageButton:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.disabled {
  background-color: #ccc;
  color: #777;
  cursor: not-allowed;
  box-shadow: none;
}

.active {
  background-color: #2e7d32; /* Darker green */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}



.pageButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



.ellipsis {
  padding: 0 5px;
  font-size: 18px;
  color: #555;
}

.paginationInfo {
  margin-left: 20px;
  font-size: 16px;
  color: #555;
}
