.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .h1-class {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .p-class {
    font-size: 1.2rem;
    color: #7f8c8d;
  }
  