/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00897b; /* Navbar background color */
  padding: 1em 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  width: 100%; /* Ensures full width */
}

/* Logo */
.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.logoimg {
  display: inline;
  vertical-align: middle; /* Align logo image with text */
}

.logo span {
  color: #22312f; /* Highlight color for "Care" */
}

.logo :nth-child(2) {
  color: #1d524d; /* Highlight color for "Care" */
}

/* Menu Icon (Hamburger menu for mobile) */
.menuIcon {
  display: none;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}

/* Navigation links */
.navLinks {
  display: flex;
  list-style: none;
  gap: 1.5em;
  margin-right: 3rem;

  transition: max-height 0.5s ease-in-out;
}

.navLinks li {
  position: relative;
}

/* Navigation link styles */
.navLinks a {
  text-decoration: none;
  font-size: 1.1em;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s;
}

.navLinks a:hover {
  background-color: #26a69a;
  transform: translateY(-5px);
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #26a69a; /* Dropdown background color */
  padding: 0.5em; /* Padding inside dropdown menu */
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow effect */
  transition: all 0.3s ease;
  list-style: none; /* Remove bullet points */
}

.dropdownMenu a {
  font-size: 1em;
  color: #fff;
  padding: 0.5em 1em; /* Padding around dropdown items */
  display: block;
  transition: background-color 0.3s, transform 0.3s;
}

.dropdownMenu a:hover {
  background-color: #00897b; /* Highlight color for dropdown items */
  transform: translateY(-5px) scale(1.05); /* Enhanced pop-up effect */
}

/* Responsive Menu */
@media screen and (max-width: 768px) {
  .menuIcon {
    display: block;
  }
  .navbar {
    
    width: 100%; /* Ensures full width */
  }

  /* Flexbox settings for the navLinks */
  .navLinks {
    position: absolute;
    top: 88%;
    left: 0;
    width: 100%;
    background-color: #00897b; /* Mobile menu background color */
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .navLinks.active {
    max-height: 300px; /* Expands the menu when clicked */
  }

  .navLinks li {
    margin: 10px 0;
    text-align: center; /* Center align links */
    width: 100%; /* Ensure each menu item takes full width */
  }

  .dropdownMenu {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px; /* Margin around dropdown menu in mobile view */
    width: 100%; /* Ensure dropdown takes full width */
  }
}

/* Search Box */
.searchBox {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 3rem;
}

.searchBox input {
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchBox button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.4rem;
  margin-left: 0.3rem;
  cursor: pointer;
  border-radius: 4px;
}

.searchBox button i {
  font-size: 1rem;
}

.searchBox button:hover {
  background-color: #0056b3;
}

/* Make sure that search box is full-width on mobile */
@media screen and (max-width: 768px) {
  .searchBox {
    width: 100%; /* Full width */
    margin-top: 15px; /* Space between navbar and search box */
  }

  .searchBox input {
    width: 80%; /* Input takes most of the width */
  }

  .searchBox button {
    width: 15%; /* Button takes less width */
  }
}
